---
layout: default
language: es
rooms-title: Habitaciones
rooms-description: Mathilda te ofrece 3 tipos de habitaciones según su ubicación dentro de la casa.
rooms-title-2: Rooms Title 2
room-details-1-title: Room Title 2
room-details-1_html: >-
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in. </p>
room-features-1_html: >-
  <ul> <li> Test 123 </li> <li> Test 123 </li> <li> Test 123 </li> <li> Test 123 </li> <li> Test 123 </li> <li> Test 123 </li> </ul>
room-details-2-title: Title
room-details-2_html: >-
  <p> This is a room details description </p>
room-details-3-title:
room-details-3_html: >-
  <p> This is a room details description </p>
---
<section class="bg-beige">
  <div class="padded-8">
    <h1>{{page.rooms-title}}</h1>
    <p class="narrow-width bump-right p-bold">{{page.rooms-description}}</p>
  </div>
  <div class="padded-left padded-2 link-menu" id="rooms">
    <p>{{page.rooms-title-2}}</p>

    {% if page.language == 'es' %}
    <nav id="rooms-filter">
      <li><a href="#">Terraza</a> | </li>
      <li><a href="#">Interiores</a> | </li>
      <li><a href="#">A la Calle</a></li>
    </nav>
    {% elsif page.language == 'en' %}
    <nav id="rooms-filter">
      <li><a href="#">Terrace</a> | </li>
      <li><a href="#">Interiores</a> | </li>
      <li><a href="#">A la Calle</a></li>
    </nav>
    {% elsif page.language == 'fr' %}
    <nav id="rooms-filter">
      <li><a href="#">Terraza</a> | </li>
      <li><a href="#">Interiores</a> | </li>
      <li><a href="#">A la Calle</a></li>
    </nav>
    {% endif %}

  </div>
  <!-- we need to create one of these for each of the room types -->
  <div id="rooms-grid">
  <div class="slider-rooms terraza filterable-item">
    <div class="bg-image-room" style="background-image:url('/images/casa-mathilda-banner.jpg')"></div>
    <div class="bg-image-room" style="background-image:url('/images/room-mathilda.jpg')"></div>
    <div class="bg-image-room" style="background-image:url('/images/casa-mathilda-banner.jpg')"></div>

    <button class="room-left-button" onclick="plusRoomGallery(-1)">
      <img src="/images/right-arrow.svg">
    </button>
    <button class="room-right-button" onclick="plusRoomGallery(+1)">
      <img src="/images/right-arrow.svg">
    </button>
  <!--this anchor link is the details button which when clicked opens up the popup div. The href corresponds to the id of the div we want to pop-up and the class 'open-room-details' is what initialises the popup in the javascript. The styles of the popup are controlled through the 'room-details-popup class'. -->

    <div class="button-1 button-ochre align-center" id="show-1">
      <a href="#popup-room-details-1" class="open-room-details-1" title="The Cleaner">
            <!-- this changes the text within the anchor link based on the language -->
            {% if page.language == 'es' %}
                Detalles
            {% elsif page.language == 'en' %}
                Details
            {% elsif page.language == 'fr' %}
                Details
            {% endif %}
            <img src="/images/right-arrow.svg" alt="right arrow">
      </a>
    </div>

    <div id="popup-room-details-1" class="room-details-popup">
      <div class="grid">
        <div class="col-7">
              <h2> {{page.room-details-1-title}} </h2>
              {{page.room-details-1_html}}
              <div class="button-left button-ochre left">
                  <a href="#"> Book <img src="/images/right-arrow.svg" alt="right arrow"> </a>
              </div>
        </div>
        <div class="col-5">
          {{page.room-features-1_html}}
        </div>
        <span class="close-icon" id="hide-1"> X </span>
      </div>
    </div>
    <!-- end popup div -->
  </div>

  <!-- popup number 2 -->
  <div class="slider-rooms hidden interiores filterable-item" style="background-image:url('/images/blog-photo.jpg')">
    <div class="button-1 button-ochre align-center">

      <!--this anchor link is the details button which when clicked opens up the popup div. The href corresponds to the id of the div we want to pop-up and the class 'open-room-details' is what initialises the popup in the javascript. The styles of the popup are controlled through the 'room-details-popup class'. -->
      <a href="#popup-room-details-2" class="open-room-details-2" title="The Cleaner">
            <!-- this changes the text within the anchor link based on the language -->
            {% if page.language == 'es' %}
                Detalles
            {% elsif page.language == 'en' %}
                Details
            {% elsif page.language == 'fr' %}
                Details
            {% endif %}
            <img src="/images/right-arrow.svg" alt="right arrow">
      </a>

      <div id="popup-room-details-2" class="mfp-hide room-details-popup">
        <h2> {{page.room-details-2-title}} </h2>
        {{page.room-details-2_html}}
        <img src="/images/blog-photo.jpg" class="small-image">
        <img src="/images/blog-photo.jpg" class="small-image">
        <img src="/images/blog-photo.jpg" class="small-image">
      </div>


    </div>
    <!-- end popup div -->
  </div>
  <div class="slider-rooms hidden a-la-calle filterable-item" style="background-image:url('/images/casa-mathilda-banner.jpg')">
    <div class="button-1 button-ochre align-center">

      <!--this anchor link is the details button which when clicked opens up the popup div. The href corresponds to the id of the div we want to pop-up and the class 'open-room-details' is what initialises the popup in the javascript. The styles of the popup are controlled through the 'room-details-popup class'. -->

      <a href="#popup-room-details-3" class="open-room-details-3" title="The Cleaner">
            <!-- this changes the text within the anchor link based on the language -->
            {% if page.language == 'es' %}
                Detalles
            {% elsif page.language == 'en' %}
                Details
            {% elsif page.language == 'fr' %}
                Details
            {% endif %}
            <img src="/images/right-arrow.svg" alt="right arrow">
      </a>

      <div id="popup-room-details-3" class="mfp-hide room-details-popup">
        <h2> {{page.room-details-3-title}} </h2>
        {{page.room-details-3_html}}
        <img src="/images/blog-photo.jpg" class="small-image">
        <img src="/images/blog-photo.jpg" class="small-image">
        <img src="/images/blog-photo.jpg" class="small-image">
      </div>

    </div>
    <!-- end popup div -->
  </div>
</section>
