
  <title>Casa Mathilda - Bed & Breakfast in Barcelona</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <!-- Gridlex, Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,500|Raleway:500,500i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/style.css" />

  <!-- Open Graph Data -->
  <meta property="og:url" content="http://casamathilda.com" />
  <meta property="og:title" content="Casa Mathilda" />
  <meta property="og:image" content="xxxxxxxxx" />
  <meta property="og:site_name" content="Casa Mathilda" />
  <meta property="og:description" content="Bed & Breakfast in Barcelona" />

  <!-- Favicons -->

  <!-- Google Analytics -->
